/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	width: 450px;
	-background:#666;
}

/* accordion header */
#accordion h2 {
	margin:0;
	padding:5px 0;
	font-size:1.2em;
	color: #595959;
	font-weight:normal;
	border:1px solid #fff;
	cursor:pointer;		
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#accordion div.pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	padding:5px 0;
	color:#fff;
	font-size:1.2em;
}

#accordion div.pane p {
	padding: 5px 0;
	font-size: 1.0em;
	line-height: 1.4em;
}
#accordion div.pane a {
	color: #666;
}
#accordion div.pane a:hover {
	color: #900;
}

#accordion div.pane p {
	color: #666;
	font-size: 12px;
	margin-left: 14px;
}



#accordion div.pane ul {
	color: #666;
	font-size: 12px;
	list-style-position: inside;
	margin-left: 14px;
}

#accordion div.pane li {
	padding: 2px 0;
	text-indent: -14px;
	list-style-type:disc;
}

/* a title inside pane */
#accordion div.pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}
